{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
  </head>
  <body>
    <h1>Created Task</h1>
    <a class="btn btn-primary" href="/form">Create Task</a>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Task</th>
          <th>Assignee</th>
          <th>Deadline</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{range .list}}
        <tr>
          <td>{{.Task}}</td>
          <td>{{.Assignee}}</td>
          <td>{{.Deadline}}</td>
          <td>
            {{if .IsDone}}
            <a class="btn btn-success">Done</a>
            {{else}}
            <a class="btn btn-info">Mark as Done</a>
            {{end}}
            <a class="btn btn-warning">Edit</a>
            <a class="btn btn-danger" href="/delete?id={{.ID}}">Delete</a>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
{{end}}
